importFrom("stats", "binomial", "cov2cor", "glm", "model.frame", "model.matrix", "na.omit", "na.pass")
import("statmod")

useDynLib(mixcat)

export(npmlt)

S3method(print, npmreg)

S3method(summary, npmreg)
